body{
    margin: 0;
    font-family: sans-serif;
}
table {
    border: 1px solid;
    width: 60%;
    border-collapse: collapse;

  }

  form{
    align-items: center;
  }

  .center {
    margin: auto;
    width: 60%;
    border: 1px solid;
  }